* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 0;
}

#title {
  padding: 10px;
  background-color: black;
  color:white;
}

#main {
  margin: 0;
  padding: 0;
}

figcaption {
  font-size: .9em;
}

#img-div {
  margin: 0;
  margin-top: -22px;
  background-color: black;
  color:white;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 75%;
  max-width: 750px;
  min-width: 420px;
  font-size: .9em;
}

.flex-item {
  width: 45%;
  max-width: 350px;
  min-width: 150px;
}

.right-align {
  text-align: right;
  padding-right: 10px;
}

.left-align {
  text-align: left;
  padding-left: 10px;
}